body,.wrapper, html, #root{
    height:100% ;
    margin: 0;
    padding: 0;
    background: url("../assets/images/BG.jpg")  no-repeat;
    background-size: cover;
}

.wrapper{
    display: flex;

    &__main{
        width: 100%;
    }
}

*{
    outline: none;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}